@media (max-width: 767px){
	*{
		margin: 0px;
		padding: 0px;
	}
	li{
		list-style-type: none;
	}
	body{
		margin: 0 auto;
		width: auto;
		height: max-content;
	}
	.headerBlock{
		display: flex;
		justify-content:center;
		margin: 0 auto;
		width: 400px;
		height: 60px;
	}
	.logoHeader{
		width: 90px;
		height: 50px;
	}
	.teleBlock_headerBlock{
		margin-left: 5px;
		width: 100px;
		font-size: 12px;
		padding: 5px 5px 5px 30px;
	}
	.calculatorLink{
		margin-left: 5px;
		width: 100px;
		font-size: 12px;
		padding: 5px 5px 5px 30px;
	}
	.nav_block{
		width: 400px;
	}
	.navHeaderBlock{
		width: 400px;
	}
	.ulBlockHeader{
		width: 400px;
	}
	.itemNavMenu{
		width: max-content;
	}
	.itemNavMenu a{
		font-family: "Nunito";
		display: flex;
		color: white;
		margin-left: 20px;
		font-size: 12px;
	}
	.ulBlockHeader{
		display: flex;
		justify-content: center;
	}
	/* main */
	.inBlock_LoadingUnloading{
		width: max-content;
	}
	.textInBlock_LoadingUnloading{
		font-size: 40px;
	}
	.secondTextInBlock_LoadingUnloading{
		font-size: 20px;
		width: 400px;
	}
	.bgOpaci{
		height: 300px;
	}
	.LoadingUnloading{
		height: 300px;
	}
	.textBlock{
		width: 400px;
	}
	.coplexClient{
		font-size: 40px;
		width: 400px;
		text-align: center;
	}
	.blockCoplex{
		width: 400px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.itemBlock_complex-block{
		margin: 0 0 20px 0;
	}
	/* footer */
	.mainBlock__footer{
		width: 400px;
		flex-direction: column;
		height: max-content;
	}
	.mainBlockFooter{
		width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.logoFooter{
		position: relative;
		background-image: url(/images/logo.png);
		background-repeat: no-repeat;
		background-size: 190px 90px;
		background-position: 50% 50%;
		width: 240px;
		height: 90px;
		top: 10px;
		left:0px ;
		margin-bottom: 20px;
	}

}